header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    padding: 0px 0px 0px 0px;
    background-color: var(--brand-color);
    transition: 0.2s;
}
@media (max-width:780px) {
    header {
        text-align: center;
        flex-direction: column;
    }
    .logo {
        padding-left: 0px;
        font-weight: 1rem;
    }
}

.scrolled {
    background-color: var(--light-color);
    opacity: 97%;
    transition: 0.2s;
    box-shadow: 0px 0px 8px 0px gray;
    -webkit-box-shadow: 0px 0px 8px 0px gray;
}

.shadow {
    box-shadow: 0px 0px 8px 0px gray;
    -webkit-box-shadow: 0px 0px 8px 0px gray;
}

.light-text {
    color: var(--light-color);
}

.logo {
    color: var(--mid-color);
    font-family: var(--logo-font);
    font-size: 40px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 10px;

    transition: 0.2s;
}

.scrolled-logo {
    color: var(--mid-color);
}

.logo:hover {
    text-decoration: none;
    color: inherit;
}