h1 {
    color: var(--light-color);
    font-size: 40px;
    padding-left:50px;
}

.header {
    padding: 5px 0px 5px 0px;
    width: 100%;
    background-color: var(--brand-color);
    box-shadow: 0 0 8px 0 gray;
    -webkit-box-shadow: 0 0 8px 0 gray;
}