.article {
    padding: 20px 100px 0px 100px;
    margin: 20px 100px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 0px;
    word-wrap: break-word;
}
@media (max-width:780px) {
    .article {
        padding: 20px 30px;
        margin: 10px 10px;
    }
}

#article-title {
    font-size: 300%;
}

.article-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    max-width: 90%;
    max-height: 100%;
    margin: 20px;
    justify-content: center;
    align-content: center;
}