body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  color: var(--dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Comforter Brush', cursive;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 200%;
}

h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 150%;
}

.cursive {
  font-family: 'Dancing Script', cursive;
}
