h3 {
    color: var(--light-color);
}

.box {
    border-width: 10px;
    background-color: var(--mid-color);
    padding: 20px 20px 20px 20px;
    margin: 10px 20px 10px 20px;
    color: var(--light-color);
    transition: 1s ease;
    flex-grow: 1;
    flex-basis: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px gray;
    -webkit-box-shadow: 0px 0px 10px 0px gray;
    cursor: pointer;
}
@media (max-width:780px) {
    .box {
        margin: 10px 5px 10px 5px;
    }
}

.box:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s ease;
    background-color: var(--dark-color);
}

.info-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

.info-item:hover {
    text-decoration: underline;
    color: var(--brand-color);
}